@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  background-color: none;
}

.block, ._spoller-init, .content-header__logo, .languaje__button, .languaje__item, .icon-menu, .menu-catalog__item, .fullscreen__button, .architecture__button, .content-footer__link, .content-footer__link, .content-footer__title, .swiper-button-prev, .swiper-button-next, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:active {
  background-color: none;
}

html,
body {
  height: 100%;
  min-width: 300px;
}

body {
  color: #434343;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  background-color: none;
}

button:active {
  text-decoration: none;
  background-color: none;
}

li:active {
  background-color: none;
}

ul li {
  list-style: none;
  background-color: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
}
body.lock {
  overflow: hidden;
  touch-action: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #f3f3f3;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.section-title {
  position: relative;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #193F63;
  margin: 1.25rem 0.9375rem 0.625rem;
}
@supports (font-size: clamp( 1.125rem , 0.9637096774rem  +  0.8602150538vw , 1.625rem )) {
  .section-title {
    font-size: clamp( 1.125rem , 0.9637096774rem  +  0.8602150538vw , 1.625rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.9637096774rem  +  0.8602150538vw , 1.625rem )) {
  .section-title {
    font-size: calc(1.125rem + 0.5 * (100vw - 18.75rem) / 58.125);
  }
}
.section-title p {
  padding-left: 1.25rem;
}
@media (max-width: 484px) {
  .section-title p {
    padding-left: 0rem;
  }
}

.section-title:after {
  content: "";
  background-color: #8BA1BC;
  position: absolute;
  display: block;
  width: 70%;
  height: 0.0625rem;
  top: 1.875rem;
}

.section-title:before {
  content: "";
  background-color: #8BA1BC;
  position: absolute;
  display: block;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  left: 70%;
  top: 1.75rem;
}

.header {
  min-height: 3.125rem;
}
.header__content {
  background-color: #fdfdfd;
  position: fixed;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.content-header:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 3.125rem;
  background-color: #fdfdfd;
  z-index: 6;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.25);
  display: block;
}
.content-header__container {
  display: flex;
  min-height: 3.125rem;
  align-items: center;
}
.content-header__logo {
  flex: 0 1 8rem;
  display: flex;
  justify-content: center;
  z-index: 7;
  cursor: pointer;
  min-height: 3.125rem;
}
@media (any-hover: hover) {
  .content-header__logo:hover {
    background-color: #ebf2fc;
    transition: all 0.2s ease 0s;
  }
}
.content-header__logo:active {
  background-color: #d9e7f7;
}
.content-header__menu {
  flex: 1 1 auto;
}

.menu-catalog {
  position: relative;
}
@media (max-width: 960px) {
  .menu-catalog__body {
    position: fixed;
    z-index: 4;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #d9e7f7;
    padding: 4.375rem 1.875rem 0.625rem 1.875rem;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu-catalog__body__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-catalog__body__list li {
    font-size: 18px;
    color: #193F63;
  }
  .menu-catalog__body .menu-catalog__item {
    border-bottom: 1px solid #ffffff;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .menu-catalog__body .menu-catalog__item:last-child {
    border-bottom: none;
  }
  .menu-catalog__body.menu-open {
    left: 0;
  }
}
.menu-catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-catalog__item {
  position: relative;
  z-index: 8;
}
@supports (font-size: clamp( 0.875rem , 0.375rem  +  0.8333333333vw , 1rem )) {
  .menu-catalog__item {
    font-size: clamp( 0.875rem , 0.375rem  +  0.8333333333vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.375rem  +  0.8333333333vw , 1rem )) {
  .menu-catalog__item {
    font-size: calc(0.875rem + 0.125 * (100vw - 60rem) / 15);
  }
}
@media (min-width: 75em) {
  .menu-catalog__item {
    font-size: inherit;
  }
}
@media (max-width: 60em) {
  .menu-catalog__item {
    font-size: inherit;
  }
}
.menu-catalog__link {
  cursor: pointer;
  min-height: 3.125rem;
  padding: 0 0.4375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (any-hover: hover) {
  .menu-catalog__link:hover {
    background-color: #ebf2fc;
    transition: all 0.2s ease 0s;
  }
}
.menu-catalog__link:active {
  color: #415977;
  background-color: #d9e7f7;
}

.languaje {
  display: flex;
  position: relative;
  z-index: 6;
}
@media (max-width: 960px) {
  .languaje__body {
    position: absolute;
    right: 70%;
    top: -34%;
    z-index: 7;
    background-color: #fdfdfd;
    opacity: 0;
    visibility: hidden;
  }
}
.languaje__list {
  display: flex;
}
.languaje__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 3.125rem;
  padding: 0 0.3125rem;
}
@supports (font-size: clamp( 0.875rem , 0.375rem  +  0.8333333333vw , 1rem )) {
  .languaje__item {
    font-size: clamp( 0.875rem , 0.375rem  +  0.8333333333vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.375rem  +  0.8333333333vw , 1rem )) {
  .languaje__item {
    font-size: calc(0.875rem + 0.125 * (100vw - 60rem) / 15);
  }
}
@media (min-width: 75em) {
  .languaje__item {
    font-size: inherit;
  }
}
@media (max-width: 60em) {
  .languaje__item {
    font-size: inherit;
  }
}
@media (any-hover: hover) {
  .languaje__item:hover {
    background-color: #ebf2fc;
    transition: all 0.3s ease 0s;
  }
}
.languaje__item:active {
  background-color: #d9e7f7;
}
.languaje__button {
  display: none;
  margin-right: 0.625rem;
}
.languaje__button:active {
  transform: scale(1.01);
}
@media (max-width: 960px) {
  .languaje__button {
    display: block;
    flex: 0 0 1.875rem;
    cursor: pointer;
    z-index: 7;
  }
}

.lang-open {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease 0s;
  right: 110%;
}

.icon-menu {
  display: none;
}
@media (max-width: 960px) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 7;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #193F63;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .icon-menu.menu-open span {
    width: 0;
  }
  .icon-menu.menu-open::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .icon-menu.menu-open::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.fullscreen {
  background: #415977;
  background: -moz-linear-gradient(top, #415977 0%, #305e89 17%, #305e89 53%, #415977 76%, #415977 76%);
  background: -webkit-linear-gradient(top, #415977 0%, #305e89 17%, #305e89 53%, #415977 76%, #415977 76%);
  background: linear-gradient(to bottom, #415977 0%, #305e89 17%, #305e89 53%, #415977 76%, #415977 76%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#415977", endColorstr="#415977",GradientType=0 );
  display: flex;
  justify-content: center;
  align-items: center;
  /*
    min-height: 100vh;
    .touch & {
  	min-height: calc(var(--vh, 1vh) * 100);
  	@media (max-width: $mobile) {
  		transition: height 0.2s;
  	}
  } */
}

.fullscreen__container {
  position: relative;
  display: flex;
  max-width: 75rem;
  max-height: 37.5rem;
  margin: 0 auto;
  padding-top: 1.25rem;
  padding-bottom: 3.75rem;
  justify-content: center;
  align-items: center;
}
@supports (padding-left: clamp( 3.125rem , 2.9233870968rem  +  1.0752688172vw , 3.75rem )) {
  .fullscreen__container {
    padding-left: clamp( 3.125rem , 2.9233870968rem  +  1.0752688172vw , 3.75rem );
  }
}
@supports not (padding-left: clamp( 3.125rem , 2.9233870968rem  +  1.0752688172vw , 3.75rem )) {
  .fullscreen__container {
    padding-left: calc(3.125rem + 0.625 * (100vw - 18.75rem) / 58.125);
  }
}
@supports (padding-right: clamp( 3.125rem , 2.9233870968rem  +  1.0752688172vw , 3.75rem )) {
  .fullscreen__container {
    padding-right: clamp( 3.125rem , 2.9233870968rem  +  1.0752688172vw , 3.75rem );
  }
}
@supports not (padding-right: clamp( 3.125rem , 2.9233870968rem  +  1.0752688172vw , 3.75rem )) {
  .fullscreen__container {
    padding-right: calc(3.125rem + 0.625 * (100vw - 18.75rem) / 58.125);
  }
}
@media (max-width: 563px) {
  .fullscreen__container {
    flex-direction: column;
    padding-top: 0.3125rem;
    padding-bottom: 3.75rem;
  }
}

.fullscreen__imgbox {
  display: flex;
  min-width: 12.5rem;
  flex: 0 0 60%;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}
@supports (max-width: clamp( 12.5rem , 8.4677419355rem  +  21.5053763441vw , 25rem )) {
  .fullscreen__imgbox {
    max-width: clamp( 12.5rem , 8.4677419355rem  +  21.5053763441vw , 25rem );
  }
}
@supports not (max-width: clamp( 12.5rem , 8.4677419355rem  +  21.5053763441vw , 25rem )) {
  .fullscreen__imgbox {
    max-width: calc(12.5rem + 12.5 * (100vw - 18.75rem) / 58.125);
  }
}

@media (max-width: 970px) {
  @supports (max-width: clamp( 11.25rem , 8.8306451613rem  +  12.9032258065vw , 18.75rem )) {
    .imgbox1 {
      max-width: clamp( 11.25rem , 8.8306451613rem  +  12.9032258065vw , 18.75rem );
    }
  }
  @supports not (max-width: clamp( 11.25rem , 8.8306451613rem  +  12.9032258065vw , 18.75rem )) {
    .imgbox1 {
      max-width: calc(11.25rem + 7.5 * (100vw - 18.75rem) / 58.125);
    }
  }
}

.box2 .fullscreen__imgbox, .box3 .fullscreen__imgbox {
  flex: 0 0 70%;
  margin-right: 1.25rem;
}
@media (max-width: 800px) {
  .box2 .fullscreen__imgbox, .box3 .fullscreen__imgbox {
    margin-right: 0.3125rem;
  }
}
.box2 .fullscreen__main, .box3 .fullscreen__main {
  flex: 0 1 30%;
}
.box2 .fullscreen__text, .box3 .fullscreen__text {
  max-width: 31.25rem;
}

.fullscreen__img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@supports (padding: clamp( 0.3125rem , 0.0100806452rem  +  1.6129032258vw , 1.25rem )) {
  .fullscreen__img {
    padding: clamp( 0.3125rem , 0.0100806452rem  +  1.6129032258vw , 1.25rem );
  }
}
@supports not (padding: clamp( 0.3125rem , 0.0100806452rem  +  1.6129032258vw , 1.25rem )) {
  .fullscreen__img {
    padding: calc(0.3125rem + 0.9375 * (100vw - 18.75rem) / 58.125);
  }
}

.fullscreen__main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: end;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  flex: 0 1 40%;
  max-width: 13.75rem;
}
@supports (margin: clamp( 0.625rem , 0.4233870968rem  +  1.0752688172vw , 1.25rem )) {
  .fullscreen__main {
    margin: clamp( 0.625rem , 0.4233870968rem  +  1.0752688172vw , 1.25rem );
  }
}
@supports not (margin: clamp( 0.625rem , 0.4233870968rem  +  1.0752688172vw , 1.25rem )) {
  .fullscreen__main {
    margin: calc(0.625rem + 0.625 * (100vw - 18.75rem) / 58.125);
  }
}

.fullscreen__title {
  font-weight: 500;
}
@supports (font-size: clamp( 1.75rem , 1.7096774194rem  +  0.2150537634vw , 1.875rem )) {
  .fullscreen__title {
    font-size: clamp( 1.75rem , 1.7096774194rem  +  0.2150537634vw , 1.875rem );
  }
}
@supports not (font-size: clamp( 1.75rem , 1.7096774194rem  +  0.2150537634vw , 1.875rem )) {
  .fullscreen__title {
    font-size: calc(1.75rem + 0.125 * (100vw - 18.75rem) / 58.125);
  }
}
@supports (margin-bottom: clamp( 0.9375rem , 0.6350806452rem  +  1.6129032258vw , 1.875rem )) {
  .fullscreen__title {
    margin-bottom: clamp( 0.9375rem , 0.6350806452rem  +  1.6129032258vw , 1.875rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.6350806452rem  +  1.6129032258vw , 1.875rem )) {
  .fullscreen__title {
    margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 18.75rem) / 58.125);
  }
}

.fullscreen__text {
  line-height: 1.18;
  letter-spacing: -0.02em;
  max-width: 18.75rem;
}
@supports (font-size: clamp( 0.875rem , 0.7943548387rem  +  0.4301075269vw , 1.125rem )) {
  .fullscreen__text {
    font-size: clamp( 0.875rem , 0.7943548387rem  +  0.4301075269vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.7943548387rem  +  0.4301075269vw , 1.125rem )) {
  .fullscreen__text {
    font-size: calc(0.875rem + 0.25 * (100vw - 18.75rem) / 58.125);
  }
}
@supports (margin-bottom: clamp( 0.9375rem , 0.6350806452rem  +  1.6129032258vw , 1.875rem )) {
  .fullscreen__text {
    margin-bottom: clamp( 0.9375rem , 0.6350806452rem  +  1.6129032258vw , 1.875rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.6350806452rem  +  1.6129032258vw , 1.875rem )) {
  .fullscreen__text {
    margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 18.75rem) / 58.125);
  }
}

.fullscreen__button {
  line-height: 2.625rem;
  width: 10.625rem;
  text-decoration: none;
  background-color: #4390d8;
  border-radius: 0.5rem;
  align-self: center;
  padding: 0 0.8125rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.3);
}
.fullscreen__button:hover {
  background-color: #519EE5;
  transform: scale(1.03);
  transition: all 0.1s ease 0s;
}
.fullscreen__button:active {
  background-color: #407fb9;
}

.fullscreen__link {
  text-shadow: 0.0625rem 0.0625rem 0.625rem rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  text-align: center;
  min-width: 100;
}

/*
.fullscreen__container {
   position: relative;
   bottom: rem(50);
   display: flex;
   flex-wrap:wrap;
   max-width: rem(1200);
   max-height: rem(600);
   margin: 0 auto;
   @include adaptiveValue("padding-left", 60, 20, 1200, 300);
   @include adaptiveValue("padding-right", 60, 20, 1200, 300);
   padding-top:rem(50);
   padding-bottom: rem(60);
   justify-content: center;
   align-items: center;
}
.fullscreen__imgbox {
   display: flex;
   max-width: rem(400);
   min-width: rem(230);
   flex: 0 1 60%;
   align-items: center;
   justify-content: center;
   object-fit: contain;
}
.box2, .box3 {
   .fullscreen__imgbox {
      flex: 0 1 70%;
      max-width: rem(450);
   }
   .fullscreen__main {
      flex: 0 1 30%;
   }
   .fullscreen__text {
      max-width: rem(500);
   }
}
.fullscreen__img {
   position: relative;
   object-fit: cover;
   width: 100%;
   height: 100%;
   @include adaptiveValue("padding", 20, 10, 1200, 300);
}
.fullscreen__main {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items:center;
   align-self: center;
   justify-content:end;
   color: $mainColorTextLight;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
   margin: rem(20);
   flex: 0 1 40%;
}
.fullscreen__title {
   @include adaptiveValue("font-size", 35, 30);
   font-weight: 500;
   margin-bottom: rem(30);
}
.fullscreen__text {
   @include adaptiveValue("font-size", 20, 16);
   line-height: 1.18;
   letter-spacing: -0.02em;
   margin-bottom: rem(30);
   max-width: rem(300);
}
.fullscreen__button {
   line-height: rem(42);
   width: rem(170);
   text-decoration:none;
   background-color: #4390d8;
   border-radius: rem(8);
   align-self: center;
   padding: 0 rem(13);
   box-shadow: 0 rem(10) rem(20) rgba(0, 0, 0, 0.3);
   &:hover {
      background-color: #519EE5;
      transform:scale(1.03);
      transition: all 0.1s ease 0s;
   }
   &:active{
      background-color: #407fb9;
   }
}
.fullscreen__link {
   text-shadow: rem(1) rem(1) rem(10) rgba(0, 0, 0, 0.25);
   font-size: rem(16);
   text-align: center;
   min-width: 100;
}
*/
.definition {
  margin-top: 0rem;
}

.definition__conteiner {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 73.125rem;
  margin: 1.875rem auto;
  padding-top: 1.875rem;
  margin-bottom: 0rem;
}

.definition__p {
  z-index: 1;
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  position: relative;
  padding: 0 3.125rem;
}

.definition__p p {
  width: 100%;
  line-height: 1.44;
  text-align: center;
  letter-spacing: -0.02em;
  color: #193F63;
  padding: 1.875rem;
  background-color: #f3f3f3;
  box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.25);
  z-index: 1;
  margin: 0 auto;
}
@supports (font-size: clamp( 0.875rem , 0.7943548387rem  +  0.4301075269vw , 1.125rem )) {
  .definition__p p {
    font-size: clamp( 0.875rem , 0.7943548387rem  +  0.4301075269vw , 1.125rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.7943548387rem  +  0.4301075269vw , 1.125rem )) {
  .definition__p p {
    font-size: calc(0.875rem + 0.25 * (100vw - 18.75rem) / 58.125);
  }
}

.definition__block {
  display: flex;
  align-items: center;
  margin-top: -10.3125rem;
  width: 100%;
  height: 12.5rem;
  background-color: #E6ECF3;
  margin-bottom: 1.25rem;
}

.func-top {
  height: 3.125rem;
  margin-top: -3.125rem;
}

.func__conteiner {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  background: url("../img/back.svg") 80% 80% no-repeat;
}
@supports (padding-top: clamp( 1.25rem , -0.1612903226rem  +  7.5268817204vw , 5.625rem )) {
  .func__conteiner {
    padding-top: clamp( 1.25rem , -0.1612903226rem  +  7.5268817204vw , 5.625rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , -0.1612903226rem  +  7.5268817204vw , 5.625rem )) {
  .func__conteiner {
    padding-top: calc(1.25rem + 4.375 * (100vw - 18.75rem) / 58.125);
  }
}
@supports (padding-bottom: clamp( 1.25rem , -0.1612903226rem  +  7.5268817204vw , 5.625rem )) {
  .func__conteiner {
    padding-bottom: clamp( 1.25rem , -0.1612903226rem  +  7.5268817204vw , 5.625rem );
  }
}
@supports not (padding-bottom: clamp( 1.25rem , -0.1612903226rem  +  7.5268817204vw , 5.625rem )) {
  .func__conteiner {
    padding-bottom: calc(1.25rem + 4.375 * (100vw - 18.75rem) / 58.125);
  }
}
@media (max-width: 800px) {
  .func__conteiner {
    background: url("../img/back.svg") 10% 10% no-repeat;
  }
}

.funk__block {
  margin: 1.5625rem 0 1.875rem;
  position: relative;
}

.block {
  display: flex;
  max-width: 50rem;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 auto;
}

.block__item {
  margin-bottom: 0.625rem;
  width: 100%;
  position: relative;
}

.block__title {
  line-height: 1.18;
  letter-spacing: -0.02em;
  text-align: center;
  color: #F3F3F3;
  width: 100%;
  background-color: #415977;
  box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.25);
  padding: 0.625rem;
}
@supports (font-size: clamp( 0.875rem , 0.7540322581rem  +  0.6451612903vw , 1.25rem )) {
  .block__title {
    font-size: clamp( 0.875rem , 0.7540322581rem  +  0.6451612903vw , 1.25rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.7540322581rem  +  0.6451612903vw , 1.25rem )) {
  .block__title {
    font-size: calc(0.875rem + 0.375 * (100vw - 18.75rem) / 58.125);
  }
}
.block__title .span1 {
  margin-right: 0.625rem;
}
@media (any-hover: hover) {
  .block__title:hover {
    background-color: #3b628f;
    transform: scale(1.01);
    transition: all 0.1s ease 0s;
  }
}
.block__title:active {
  background-color: #324255;
}
@media (max-width: 414px) {
  .block__title .span1 {
    display: none;
  }
}

.block__text {
  line-height: 100%;
  padding: 1.875rem;
  background: #E6ECF3;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.25);
}
@supports (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem )) {
  .block__text {
    font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem )) {
  .block__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 18.75rem) / 58.125);
  }
}
@supports (padding: clamp( 0.625rem , 0.2217741935rem  +  2.1505376344vw , 1.875rem )) {
  .block__text {
    padding: clamp( 0.625rem , 0.2217741935rem  +  2.1505376344vw , 1.875rem );
  }
}
@supports not (padding: clamp( 0.625rem , 0.2217741935rem  +  2.1505376344vw , 1.875rem )) {
  .block__text {
    padding: calc(0.625rem + 1.25 * (100vw - 18.75rem) / 58.125);
  }
}

.block__text-title {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #193F63;
  padding-bottom: 1.5625rem;
}

.block__text-content {
  position: relative;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #434343;
  margin-bottom: 1.25rem;
  text-align: left;
}

.block__text-content li {
  display: inline-flex;
}
@supports (margin-bottom: clamp( 0.3125rem , 0.1108870968rem  +  1.0752688172vw , 0.9375rem )) {
  .block__text-content li {
    margin-bottom: clamp( 0.3125rem , 0.1108870968rem  +  1.0752688172vw , 0.9375rem );
  }
}
@supports not (margin-bottom: clamp( 0.3125rem , 0.1108870968rem  +  1.0752688172vw , 0.9375rem )) {
  .block__text-content li {
    margin-bottom: calc(0.3125rem + 0.625 * (100vw - 18.75rem) / 58.125);
  }
}

.block__text-content li:before {
  content: "•";
  color: #305E89;
  width: 0.125rem;
  height: 0.125rem;
  margin-right: 0.625rem;
  padding: 0 0.625rem;
  display: inline-block;
  position: relative;
}

.block__text-img {
  position: relative;
  display: flex;
  max-width: 25rem;
  margin: 0 auto;
}

.block__text-img img {
  width: 100%;
  height: 100%;
}

._spoller-init {
  cursor: pointer;
}
@supports (padding: clamp( 0.625rem , 0.4233870968rem  +  1.0752688172vw , 1.25rem )) {
  ._spoller-init {
    padding: clamp( 0.625rem , 0.4233870968rem  +  1.0752688172vw , 1.25rem );
  }
}
@supports not (padding: clamp( 0.625rem , 0.4233870968rem  +  1.0752688172vw , 1.25rem )) {
  ._spoller-init {
    padding: calc(0.625rem + 0.625 * (100vw - 18.75rem) / 58.125);
  }
}

.block__title::before,
.block__title::after {
  content: "";
  width: 1.25rem;
  height: 0.0625rem;
  background-color: #ebf2fc;
  position: absolute;
  right: 1.5625rem;
  top: 1.25rem;
  transition: transform 0.2s ease 0s;
}

.block__title::after {
  transform: rotate(-90deg);
}

.block__title._spoller-active::after {
  transform: rotate(0deg);
}

@media (min-width: 438px) {
  .benefits-frugment {
    display: none;
  }
}
@media (min-width: 438px) {
  .conteiner-content2 {
    flex-wrap: wrap;
    max-width: 48.125rem;
    padding: 0.625rem;
  }
}
@media (max-width: 438px) {
  .conteiner-content1 {
    display: none;
  }
}

.benefits-top {
  height: 3.125rem;
  margin-top: -3.125rem;
}

.benefits {
  min-width: 0;
}

.benefits-frugment {
  max-width: 48.125rem;
}

.benefits__conteiner {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 1.875rem;
}

.benefits__conteiner-content {
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-bottom: 0.625rem;
}

.benefits__width {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.benefits__content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  border: 0.1875rem solid #ffffff;
}
@supports (width: clamp( 12.5rem , 11.9556451613rem  +  2.9032258065vw , 14.1875rem )) {
  .benefits__content {
    width: clamp( 12.5rem , 11.9556451613rem  +  2.9032258065vw , 14.1875rem );
  }
}
@supports not (width: clamp( 12.5rem , 11.9556451613rem  +  2.9032258065vw , 14.1875rem )) {
  .benefits__content {
    width: calc(12.5rem + 1.6875 * (100vw - 18.75rem) / 58.125);
  }
}
@supports (height: clamp( 10.625rem , 10.2217741935rem  +  2.1505376344vw , 11.875rem )) {
  .benefits__content {
    height: clamp( 10.625rem , 10.2217741935rem  +  2.1505376344vw , 11.875rem );
  }
}
@supports not (height: clamp( 10.625rem , 10.2217741935rem  +  2.1505376344vw , 11.875rem )) {
  .benefits__content {
    height: calc(10.625rem + 1.25 * (100vw - 18.75rem) / 58.125);
  }
}
@media (any-hover: hover) {
  .benefits__content:hover {
    background-color: #ffffff6b;
    box-shadow: 0 0.125rem 0.3125rem rgba(48, 57, 87, 0.116);
    transform: scale(1.03);
    transition: all 0.1s ease 0s;
  }
}

.benefits__icon {
  margin: 1.0625rem auto;
}

.benefits__text {
  margin: 0 auto;
  text-align: center;
  padding: 0 0.9375rem;
  padding-bottom: 0.625rem;
}
@supports (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem )) {
  .benefits__text {
    font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem )) {
  .benefits__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 18.75rem) / 58.125);
  }
}

.specification__conteiner {
  display: flex;
  position: relative;
  max-width: 75rem;
  flex-direction: column;
  margin: 0 auto;
}
@supports (margin-bottom: clamp( 2.5rem , 1.2903225806rem  +  6.4516129032vw , 6.25rem )) {
  .specification__conteiner {
    margin-bottom: clamp( 2.5rem , 1.2903225806rem  +  6.4516129032vw , 6.25rem );
  }
}
@supports not (margin-bottom: clamp( 2.5rem , 1.2903225806rem  +  6.4516129032vw , 6.25rem )) {
  .specification__conteiner {
    margin-bottom: calc(2.5rem + 3.75 * (100vw - 18.75rem) / 58.125);
  }
}

.specification__content {
  margin: 2.5rem 0.625rem;
}

.specification__conteiner-content {
  display: flex;
  flex-direction: column;
  max-width: 62.5rem;
  padding: 2.5rem 0.625rem 0rem 0.625rem;
}
@supports (padding-top: clamp( 1.25rem , 0.8467741935rem  +  2.1505376344vw , 2.5rem )) {
  .specification__conteiner-content {
    padding-top: clamp( 1.25rem , 0.8467741935rem  +  2.1505376344vw , 2.5rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , 0.8467741935rem  +  2.1505376344vw , 2.5rem )) {
  .specification__conteiner-content {
    padding-top: calc(1.25rem + 1.25 * (100vw - 18.75rem) / 58.125);
  }
}

.specification__li {
  position: relative;
  display: flex;
  line-height: 100%;
  padding: 1.875rem;
  box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.25);
  background-color: #f3f3f3;
  z-index: 3;
}
@supports (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem )) {
  .specification__li {
    font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem )) {
  .specification__li {
    font-size: calc(0.875rem + 0.125 * (100vw - 18.75rem) / 58.125);
  }
}
@media (max-width: 770px) {
  .specification__li {
    padding: 0.625rem;
  }
}

.specification__li li {
  display: flex;
  line-height: 1.2;
  text-align: left;
  color: #434343;
  margin: 0.625rem 0;
}
.specification__li li:before {
  content: "•";
  color: #305E89;
  width: 0.125rem;
  height: 0.125rem;
  margin-right: 0.625rem;
  padding: 0 0.625rem;
  display: inline-block;
  position: relative;
}

.specification__block {
  position: relative;
  z-index: 1;
  display: flex;
  max-width: 75rem;
  flex: 1 1 auto;
  background: #415977;
  margin-left: 6.25rem;
}
@supports (margin-top: clamp( -21.25rem , -21.6532258065rem  +  2.1505376344vw , -20rem )) {
  .specification__block {
    margin-top: clamp( -21.25rem , -21.6532258065rem  +  2.1505376344vw , -20rem );
  }
}
@supports not (margin-top: clamp( -21.25rem , -21.6532258065rem  +  2.1505376344vw , -20rem )) {
  .specification__block {
    margin-top: calc(-21.25rem + 1.25 * (100vw - 18.75rem) / 58.125);
  }
}
@supports (height: clamp( 20.625rem , 20.2217741935rem  +  2.1505376344vw , 21.875rem )) {
  .specification__block {
    height: clamp( 20.625rem , 20.2217741935rem  +  2.1505376344vw , 21.875rem );
  }
}
@supports not (height: clamp( 20.625rem , 20.2217741935rem  +  2.1505376344vw , 21.875rem )) {
  .specification__block {
    height: calc(20.625rem + 1.25 * (100vw - 18.75rem) / 58.125);
  }
}
@media (max-width: 630px) {
  .specification__block {
    margin-left: 0rem;
  }
}

.usage__conteiner {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 75rem;
  margin: 0 auto;
}
@supports (margin-bottom: clamp( 0.00000625rem , -2.0161207661rem  +  10.7526774194vw , 6.25rem )) {
  .usage__conteiner {
    margin-bottom: clamp( 0.00000625rem , -2.0161207661rem  +  10.7526774194vw , 6.25rem );
  }
}
@supports not (margin-bottom: clamp( 0.00000625rem , -2.0161207661rem  +  10.7526774194vw , 6.25rem )) {
  .usage__conteiner {
    margin-bottom: calc(0.00000625rem + 6.24999375 * (100vw - 18.75rem) / 58.125);
  }
}

.usage__conteiner-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 56.25rem;
  margin: 1.875rem auto;
  justify-content: center;
}

.usage__block {
  display: flex;
  flex-direction: column;
  background-color: #415977;
  flex: 1 1 25%;
  margin: 0.625rem;
  box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: space-between;
  max-width: 28.125rem;
  padding: 0.3125rem;
}
@supports (min-width: clamp( 17.5rem , 16.0887096774rem  +  7.5268817204vw , 21.875rem )) {
  .usage__block {
    min-width: clamp( 17.5rem , 16.0887096774rem  +  7.5268817204vw , 21.875rem );
  }
}
@supports not (min-width: clamp( 17.5rem , 16.0887096774rem  +  7.5268817204vw , 21.875rem )) {
  .usage__block {
    min-width: calc(17.5rem + 4.375 * (100vw - 18.75rem) / 58.125);
  }
}
@media (any-hover: hover) {
  .usage__block:hover {
    background-color: #263c57;
    transform: scale(1.01);
    transition: all 0.1s ease 0s;
  }
}

.usage__block-text {
  color: #F3F3F3;
  margin: 1.25rem auto;
  display: flex;
  justify-content: center;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-align: center;
  height: 1.875rem;
  max-width: 17.5rem;
}
@supports (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem )) {
  .usage__block-text {
    font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem )) {
  .usage__block-text {
    font-size: calc(0.875rem + 0.125 * (100vw - 18.75rem) / 58.125);
  }
}

.usage__img {
  padding: 0.625rem;
  padding-top: 0;
}
.usage__img img {
  width: 100%;
}

.architecture-top {
  height: 3.125rem;
  margin-top: -3.125rem;
}

.architecture__conteiner {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

.architecture__conteiner-content {
  display: flex;
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
}

.architecture__content {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.p {
  margin: 0 auto;
  max-width: 43.75rem;
  padding: 0.9375rem;
}

.architecture__text p {
  color: #193F63;
  padding-bottom: 0.625rem;
}
@supports (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem )) {
  .architecture__text p {
    font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.8346774194rem  +  0.2150537634vw , 1rem )) {
  .architecture__text p {
    font-size: calc(0.875rem + 0.125 * (100vw - 18.75rem) / 58.125);
  }
}

.architecture__img {
  padding: 0.9375rem;
}

.architecture__img img {
  max-width: 100%;
}
@media (any-hover: hover) {
  .architecture__img img:hover {
    background-color: #ffffff;
    transform: scale(1.02);
    transition: all 0.1s ease 0s;
    box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.25);
  }
}

.footer__body-top {
  padding: 1.875rem 0rem;
  background-color: #415977;
}
@supports (padding-top: clamp( 0.625rem , 0.2217741935rem  +  2.1505376344vw , 1.875rem )) {
  .footer__body-top {
    padding-top: clamp( 0.625rem , 0.2217741935rem  +  2.1505376344vw , 1.875rem );
  }
}
@supports not (padding-top: clamp( 0.625rem , 0.2217741935rem  +  2.1505376344vw , 1.875rem )) {
  .footer__body-top {
    padding-top: calc(0.625rem + 1.25 * (100vw - 18.75rem) / 58.125);
  }
}
@supports (padding-bottom: clamp( 0.625rem , 0.2217741935rem  +  2.1505376344vw , 1.875rem )) {
  .footer__body-top {
    padding-bottom: clamp( 0.625rem , 0.2217741935rem  +  2.1505376344vw , 1.875rem );
  }
}
@supports not (padding-bottom: clamp( 0.625rem , 0.2217741935rem  +  2.1505376344vw , 1.875rem )) {
  .footer__body-top {
    padding-bottom: calc(0.625rem + 1.25 * (100vw - 18.75rem) / 58.125);
  }
}

.container {
  max-width: 65.625rem;
}

.footer__body {
  display: flex;
  margin: 0 auto;
  padding: 0.625rem;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 47.99875em) {
  .footer__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 770px) {
  .footer__body {
    justify-content: space-between;
  }
}

.footer__element {
  flex: 0 1 33.333%;
  margin: 0.625rem;
}
@media (max-width: 47.99875em) {
  .footer__element {
    min-width: 15rem;
  }
}
@media (max-width: 768px) {
  .footer__element {
    flex: 0 1 40%;
  }
}
.footer__element:last-child {
  margin-right: 0rem;
}

@media (max-width: 768px) {
  .element1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.25rem;
  }
}

.content-footer {
  display: flex;
  flex-direction: column;
}
.content-footer__title {
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  font-size: 1.5rem;
  line-height: 1.08;
  color: #f3f3f3;
}
.content-footer__logo img {
  position: relative;
  width: 7.5rem;
  height: 1.39625rem;
}
.content-footer__logo img:active {
  transform: scale(1.01);
}
@media (max-width: 768px) {
  .content-footer__list {
    display: flex;
    flex-direction: column;
  }
}
.content-footer__item {
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.1;
  color: #f3f3f3;
  margin-bottom: 0.625rem;
  max-width: 18.75rem;
}
.content-footer__item p {
  margin-bottom: 0.9375rem;
}
.content-footer__item:last-child {
  margin-bottom: 0rem;
}
.content-footer__link {
  text-align: right;
  margin-left: -0.4375rem;
}
.content-footer__icon {
  padding: 0.3125rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mail {
  padding-left: 0.3125rem;
}

.tel {
  padding-left: 0.125rem;
}

@media (any-hover: hover) {
  .content-footer__active:hover {
    color: #bdd6f5;
    text-decoration: underline;
  }
}
.content-footer__active:active {
  color: #bdd6f5;
  text-decoration: underline;
}

.connect {
  display: inline-flex;
  margin-top: -0.25rem;
  margin-left: -0.3125rem;
}

.connect a {
  padding: 0.1875rem 0.25rem;
  border: 1px solid #f3f3f3;
}
@supports (font-size: clamp( 1.125rem , 1.0040322581rem  +  0.6451612903vw , 1.5rem )) {
  .connect a {
    font-size: clamp( 1.125rem , 1.0040322581rem  +  0.6451612903vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 1.0040322581rem  +  0.6451612903vw , 1.5rem )) {
  .connect a {
    font-size: calc(1.125rem + 0.375 * (100vw - 18.75rem) / 58.125);
  }
}
@media (any-hover: hover) {
  .connect a:hover {
    background-color: rgba(112, 137, 168, 0.267);
    transform: scale(1.01);
    transition: all 0.1s ease 0s;
  }
}
.connect a:active {
  background-color: rgba(112, 137, 168, 0.267);
  transform: scale(1.01);
  transition: all 0.1s ease 0s;
}

.footer__body-bottom {
  padding: 1.25rem;
  background-color: #193F63;
}

.footer__bottom-p {
  line-height: 1;
  color: #f3f3f3;
  text-align: center;
}
@supports (font-size: clamp( 0.75rem , 0.7083333333rem  +  0.2222222222vw , 0.875rem )) {
  .footer__bottom-p {
    font-size: clamp( 0.75rem , 0.7083333333rem  +  0.2222222222vw , 0.875rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.7083333333rem  +  0.2222222222vw , 0.875rem )) {
  .footer__bottom-p {
    font-size: calc(0.75rem + 0.125 * (100vw - 18.75rem) / 56.25);
  }
}
@media (min-width: 75em) {
  .footer__bottom-p {
    font-size: inherit;
  }
}
.footer__bottom-p p:not(:last-child) {
  margin-bottom: 0.3125rem;
}
.swiper, .benefits-frugment {
  overflow: hidden;
  min-width: 0;
  position: relative;
  margin: 0 auto;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  align-items: stretch;
  position: relative;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-button-prev, .swiper-button-next {
  cursor: pointer;
  position: absolute;
  display: flex;
  height: 50px;
  bottom: 50%;
  z-index: 1;
  padding: 10px;
}
@media (max-width: 660px) {
  .swiper-button-prev, .swiper-button-next {
    visibility: hidden;
  }
}

.swiper-button-prev {
  left: 50px;
}
@media (max-width: 768px) {
  .swiper-button-prev {
    left: 20px;
  }
}

.swiper-button-next {
  right: 50px;
}
@media (max-width: 768px) {
  .swiper-button-next {
    right: 20px;
  }
}

.swiper-pagination {
  position: absolute;
  display: flex;
  bottom: 10%;
  z-index: 10;
  margin-left: -30px;
  left: 50%;
  gap: 14px;
  z-index: 2;
}
@media (max-width: 562px) {
  .swiper-pagination {
    bottom: 6%;
  }
}

.swiper-pagination-bullet {
  cursor: pointer;
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  line-height: 10px;
  font-size: 20px;
  background-color: #e0e0e0;
}

.swiper-pagination-bullet-active {
  background-color: #a8b9f0;
}

.swiper-pagination1 {
  position: absolute;
  display: flex;
  z-index: 10;
  bottom: 0%;
  margin-left: -30px;
  left: 50%;
  gap: 14px;
  z-index: 2;
}
